body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.options button.yes {
    font-size: 24px;
}

.options button.no {
    font-size: 12px;
}

.options button.pleesh {
    font-size: 20px;
}
